{{template "base" .}}

{{define "title"}}About{{end}}

{{define "main"}}
<h2>About me and my website</h2>
<p>If you’re setting up your tests to work both locally and on servers where SSL is enabled, consider setting up environment variables to toggle SSL in your connection string based on your environment.</p>
{{end}}